<!-- render following parts only if the user is an admin  -->
<section class="top-bar-section">
    <ul class="right">
        <li class="has-dropdown">
            <a href="#" class="success">Administrator</a>
            <ul class="dropdown">
                <li><a href="/Admin/AddMovie"><i class="fi-plus"></i>Add Movie</a></li>
                <li><a href="/Admin/Movies"><i class="fi-die-six"></i>Manage Movies</a></li>
                <li class="divider"></li>
                <li class="active"><a href="/Admin/CPanel"><i class="fi-wrench"></i>Control panel</a></li>
            </ul>
        </li>
    </ul>
</section>