@if (Request.IsAuthenticated)
{
    <text>
        <li class="has-dropdown">
            <a href="/User/MyAccount" title="My Account">Hello @User.Identity.Name !</a>
            <ul class="dropdown">
                <li><a href="/Account/LogOff">Log off</a></li>
            </ul>
        </li>
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginlink" })</li>
        <li>@Html.ActionLink("Sign up", "SignUp", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
