@if (Request.IsAuthenticated)
{
    <text>
        <li>
            @Html.ActionLink("Hello " + User.Identity.Name + " !", "MyAccount", "User", routeValues: null, htmlAttributes: new { @class = "", title = "Manage" })
            
        </li>
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Login or Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
