@if (Request.IsAuthenticated)
{
    <text>
        <li>
            <a href="/User/MyAccount" title="My Account">Hello @User.Identity.Name !</a>          
        </li>
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Login or Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
