@model MovieClub.Models.SidebarCategoriesModel

@{
    var model = Model;
}

<div class="sidebar">

    <a id="allmovies-button" class="button expand small round" href="/Content/Collection/List/All">All Movies</a>

    <ul class="side-nav side-nav-custom">
        <li class="heading">Movie Lists</li>
        <li><a href="/Content/Collection/List/1"><i class="fi-lightbulb"></i>Latest 30</a></li>
        <li><a href="/Content/Collection/List/2"><i class="fi-star"></i>Top Imdb Rated</a></li>
        <li><a href="/Content/Collection/List/3"><i class="fi-social-myspace"></i>Top Movie Club Rated</a></li>
        <li><a href="/Content/Collection/List/4"><i class="fi-eye"></i>Most Viewed</a></li>

        <li class="divider"></li>

        <li class="heading">Top Catagories<a class="right" href="/Content/Categories" data-reveal-id="catModal" data-reveal-ajax="true">All &raquo;</a></li>

        @foreach (var cat in model.categorylist)
        {
            if (cat.TaggedMovieCount > 0)
            {
                <li><a href="/Content/Collection/@cat.Id">@cat.Name<span class="label right">@cat.TaggedMovieCount</span></a></li>
            }
        }

        <li class="divider"></li>
    </ul>
    
    <div id="catModal" class="reveal-modal medium" data-reveal>
        
    </div>
    <div id="dummy" style="clear:both"></div>
</div>
