@model MovieClub.Models.SidebarCategoriesModel

@{
    var model = Model;
}

<div class="sidebar">

    <a id="allmovies-button" class="button expand small round">All Movies</a>

    <ul class="side-nav side-nav-custom">
        <li class="heading">Movie Lists</li>
        <li><a href="/Content/Collection/List/1">Latest</a></li>
        <li><a href="/Content/Collection/List/2">Top Imdb Rated</a></li>
        <li><a href="/Content/Collection/List/3">Top Movie Club Rated</a></li>
        <li><a href="/Content/Collection/List/4">Most Viewed</a></li>

        <li class="divider"></li>

        <li class="heading">Catagories</li>

        @foreach (var cat in model.categorylist)
        {
            <li><a href="/Content/Collection/@cat.Id">@cat.Name<span class="label right">@cat.TaggedMovieCount</span></a></li>
        }

        <li class="divider"></li>
    </ul>

    <div id="dummy" style="clear:both"></div>
</div>
