/*Movie club header--------------------------------------------------------------------*/


.movieclub-header{
    background-color:black;
    padding:0;
    height:125px;
}

.movieclub-header img {
    overflow:hidden;
    z-index:0;
}

#allmovies-button{
    margin-bottom:5px;
}

#movieclub-rating{
    height:21px !important;
    width:101px !important;
}

.textinput-custom, .button-custom{
    height:30px !important;
    margin-bottom:0;
    font-size:12px !important;
}


/*sidebar--------------------------------------------------------------------*/
.sidebar{
    background:#fafafa;
    padding:15px 20px 32px 20px;
    margin:10px;
}

.sidebar-custom{
    padding:0;
}

.side-nav-custom li{
    font-size:12px;
    padding:4px 7px;
    border-radius:5px;
    transition-property:all;
    transition-duration:300ms;
}

.side-nav-custom li:hover{
    background-color:whitesmoke;
    color:#0094ff;
    padding-left:15px;
    transition-property:all;
    transition-duration:300ms;
}

.side-nav-custom li[class="heading"]{
    font-size:14px;
    font-weight:bold;
    line-height:180%;
    color:#535353;
}

.side-nav-custom li[class="heading"]:hover{
    background-color:transparent;
    transition-property:none;
    padding-left:7px;
}

.side-nav-custom li a .label{
    background:#dadada;
    border-radius:5px;
    color:black;
    text-align:center;
    text-decoration:none;
    line-height:1;
    position:relative;

}

.side-nav-custom divider{
    margin:10px 0 10px 0;
    padding:10px 0 10px 0;
}



/*content--------------------------------------------------------------------*/
.content-custom{
    padding:10px 10px 20px 0;
   
}

.content-wrapper-custom{
    padding:0;
}

.wrapper-custom{
    margin:15px;
}


    .row{
    max-width:initial !important;
}



.row-custom{
    padding:0 10px !important;
    max-width:inherit;
}

#catagory-container{
    background-color:whitesmoke;
    border-radius:15px;
    margin-bottom:15px;
}

#catagory-container h5{
    padding:5px 0 0 10px;
    font-size:16px;
    font-weight:bold;
    color:#808080;
    margin-top:0;
}



.featured-div{
    margin-left:10px;
    background:whitesmoke;
    padding:5px;

}

.featured-div > h5{
    font-size: 32px;
    font-weight: bold;
    color: #bababa;
    padding-left: 10px;
    font-family: 'Baskerville Old Face';
    border-bottom:1px solid #dadada;
}

.noticeboard{
    margin-left:10px;
    padding:10px;
}

.noticeboard h6{
    font-weight:bold !important;
    margin-bottom:30px;
    text-align:center !important;
    font-size:24px !important;
    font-family:'Buxton Sketch';
}

.noticeboard img{
    margin-bottom:20px;
    clip:rect(0px,60px,200px,0px);
}

.image-container {
  max-height:170px;
  overflow:hidden;
}

.noticeboard p{
    font-weight:bold;
    color:#808080;
    margin:0;
}

/*movie details page-----------------------------------------------------------------*/

#moviedetails{
    background:#fafafa;
    margin-left:10px;
    overflow:hidden;
    padding:10px 20px 0 10px;
}

#action-buttons{
    max-width:200px;
    margin:20px auto;
    margin-bottom:0;
    margin-top:20px;
}

#action-buttons ul li a{
    min-width:65px;
}

#action-buttons ul li{
    list-style-type:none;
}

#action-buttons ul{
    margin-left:0;
}

#movie-poster img{
    text-align:center;
    border-radius:10px;
    border:5px solid #dadada;
}

#movie-title{
    margin-bottom:40px;
}

#movie-year{
    font-size:18px;
    font-weight:normal;
}

#movie-name{
    font-size:180%;
    font-weight:bold;
}

#movie-locale{
    margin-top:10px;
    clear:both;
    font-size:12px;
    font-weight:normal;
}

#movie-locale span{
    margin:0 10px;
}

#movie-specs{
    font-size:12px;
    margin-top:5px;
}

#movie-specs span{
    margin:0 10px;
}

#movie-imdb{
    margin-top:20px;
    text-align:center;
    font-size:12px;
    border-bottom:1px solid #dadada;
    border-top:1px solid #dadada;
    margin-bottom:10px;
    padding:5px 0;
}

#movie-imdb p{
    font-size:12px;
    padding:0;
    margin:0;
}


#movie-pearson{
    margin-top:5px;
    text-align:center;
    font-size:12px;
    border-bottom:1px solid #dadada;
    border-top:1px solid #dadada;
    margin-bottom:10px;
    padding:5px 0;
}

#movie-pearson p{
    font-size:12px;
    padding:0;
    margin:0;
}

#rating{
    padding:10px;
    font-size:34px;
    color:#535353;
    font-weight:bold;
    font-family: 'Gilda Display', serif;
}

#rating-pearson{
    padding:10px;
    font-size:24px;
    color:#535353;
    font-weight:bold;
    font-family: 'Gilda Display', serif;
}

#rating-pearson img{
    margin:0 10px;
}

#rating img{
    margin:0 10px;
}

.circle {
    width: 80px;
    height: 80px;
    margin:0 auto;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #f2ef49;
}

#imdb-stars{
    height:40px;
    width:40px;
}

#plot{
    background-color:whitesmoke;
    padding:7px;
    margin-bottom:20px;
    /*border-radius:10px;*/
}

#plot p{
    font-size:14px;
    line-height:200%;
}

#video-clip{
    margin:0 auto;
    max-width:inherit;
}

#movie-trailer{
    padding:5px 20px 20px 20px;
    background-color:whitesmoke;
}


#movieclub-stats table{
    margin: 0 auto;
    margin-bottom:25px;
    min-width:200px;
}

#movieclub-stats table tr td{
    font-size:12px;
}

#movieclub-stats table tr th{
    font-size:12px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#recommend-popup{
    display:none;
    margin-left: -360px !important;
}

#recommend-popup-inner{
    padding:10px;
    border-radius:5px;
    background-color:#f2f2f2;
    left:100px;
}

#recommend-popup-inner form fieldset legend{
    background-color:#f2f2f2;
}

#recommend-button{
    margin-bottom:0px;
}

footer{
    height:150px;
    /*background-color:#2ba6cb;*/
    background-color:whitesmoke;
}

#md-views{
    float:right;
    font-size:12px;
    color:#5b5b5b;
}

#md-date{
    float:left;
    font-size:12px;
    color:#5b5b5b;
}

#moviedetails-footer{
    padding:20px;
    background-color:#f2f2f2;
    margin-top:20px;
}

.thumbnails .thumbnail{
    height:212px;
    width:150px;
    overflow:hidden;
}

.thumbnails .thumbnail a img{
    max-height:208px;
    max-width:150px;
    z-index:-100
}

.modal-recommend-msg{
    font-size:12px !important;
    width:500px;
    margin-left:-20%;
}

.modal-recommend-msg *{
    font-size:12px !important;
}

#suggestModal *{
    font-size:12px !important;
}

#suggestModal form{
    margin-bottom:0;
}

#suggest-button{
    text-align:center;
    margin-bottom:0;
}

#messagespop{
    padding-bottom:3px;
}

#inboxcount{
    font-size:8px;

}

footer *{
    color:white;
}