@model MovieClub.Models.CategoryModel

@{
    ViewBag.Title = "Catagory";
    var catmodel = Model;
    if (catmodel.CurrentPage == 0 || catmodel.CurrentPage == null) 
    {
        catmodel.CurrentPage = 1;
    }
}

<div id="category">
    <div class="row-fluid" id="category-content">
        @Html.Partial("_CollectionContentPartial", catmodel)
    </div>
</div>

@section customstyles{
    @Styles.Render("~/Content/css/categorypage.css")
    @Styles.Render("~/Content/css/simplePagination.css")
}

@section customscripts{
    @Scripts.Render("~/Content/js/jquery-ias.min.js")
}

@section scripts{

    <script>
    $(document).ready(function () {

            var ias = jQuery.ias({
                container: '#category-content',
                item: '.content-block',
                pagination: '#pagination',
                next: '.nextblock'
            });

            // Adds a link which has to be clicked to load the next page
            ias.extension(new IASTriggerExtension({
                text: 'Load more Movies',
                html: '<div class="ias-trigger" style="text-align: center; cursor: pointer; clear:both"><a>{text}</a></div>',
            }));

            // Adds a loader image which is displayed during loading
            ias.extension(new IASSpinnerExtension({
                src: '/Content/images/ajax-loader.gif',
                html: '<div class="ias-spinner" style="text-align: center; clear:both"><img src="{src}"/></div>'
            }));

            // Adds a text when there are no more pages left to load
            ias.extension(new IASNoneLeftExtension({
                text: 'No more Movies',
                html: '<div class="ias-noneleft" style="text-align: center;">{text}</div>',
            }));

            
    });

    </script>

}

