label{
    font-size:12px;
}

.field-validation-error{
    font-size:12px;
    color:#ce0000;
}

fieldset *{
    font-size:12px !important;
    line-height:180%;
}

#movie-poster a img{
    height:215px !important;
}

#movie-poster a{
    margin:0 auto;
}

#movie-poster{
    margin-bottom:10px;
    padding:0 25px 0 30px;
}

#trailerupload input{
    margin-bottom:5px;
    clear:none;
}

#trailerupload button{
    margin-bottom:5px;
    clear:none;
}

.validation-summary-errors ul li{
    font-size:12px !important;
}

.validation-summary-errors span{
    font-weight:bold;
    padding-bottom:10px;
}

.validation-summary-errors ul{
    margin-top:10px;
    margin-bottom:0;
}

#body-content dl dd a{
    font-size:13px;
    padding:10px 20px;
}

.tabs dd.active a{
    background-color:#fafafa;
}

.tabs-content-custom{
    padding:5px 20px;    
}

.tabs-content-custom div{
    overflow:auto;
}

dl{
    padding-left:20px;
    padding-right:20px;
}

#panel-addmovie{
    padding-top:0;
}

td, th{
    font-size:12px !important;
}

td a{
    margin-right:20px;
}

#passedduedate{
    color:red;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#sendmessage{
    display:none;
}

#notice span{
    font-weight:bold;
}

#notice ul li a{
    color:#333333;
}

#notice ul{
    margin-bottom:0;
}

input[type=checkbox]{
    margin-top:8px;
    margin-bottom:8px;
}

.modal-custom{
    width:510px !important;
    margin-left:-20% !important;
}

.modal-custom-message{
    width:600px !important;
    margin-left:-22% !important;
}

#payment-details table thead > tr{
    
}

#payment-details table tbody{
    display:block;
    overflow-y: auto !important; 
    max-height: 400px !important;
    width:447px;
}

#payment-details table thead{
    display:block;
}

#payment-details table tbody tr td input{
    margin-bottom:0 !important;
    font-size:12px;
}

