#login-form ul{
    list-style-type:none;
}

#login-form ul li{
    display:inline !important;
}

#login-remember-me div{
    float:left;
}


#login-buttons{
    clear:both;
    text-align:center;
}

#login-form{
    padding:20px;
}

#login-form h4{
    text-align:center;
    font-size:18px;
    font-weight:bold;
    color:#a4a4a4;
    margin-bottom:40px;
}