@model List<MovieClub.Models.SimpleMovieDetails>

@{
    var newmovs = Model;
}



<div class="new-movie-container row">

    <div style="clear:both">
        <div class="new-mov-title">What's New</div>
    </div>

    @if (newmovs.Count != 0)
    {
        foreach (var item in newmovs)
        {
            <div class="small-50 large-20 medium-20 columns">
                <div class="new-movie-item row">
                    
                    <div class="small-100 medium-100 large-100 columns new-movie-thumbnail">
                        <a href="/Content/MovieDetails/@item.Id"><img class="new-movie-poster th" src="@item.PosterURL" /></a>
                    </div>
                    <div class="small-100 medium-100 large-100 columns new-movie-details">
                        <div class="new-movie-data">
                            <div class="new-movie-name">
                                @item.Name
                            </div>
                            <div class="new-movie-category">
                                @item.Category
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    }
</div>

