@model MovieClub.Models.HomePageModels.HomePageFeaturedsModel
@{
    ViewBag.Title = "Home Page";
    var homepage = Model;
}


@section featured{
    @Html.Partial("_FeaturedPartial",homepage.Featureds)
}

<div class="row">

    <div class="large-50 medium-50 small-100 columns">

    </div>

    <div class="large-50 medium-50 small-100 columns">

    </div>

</div>

@section customstyles{
    <link type='text/css' rel='stylesheet' href='~/Content/css/bootstrap.min.css' />
    <link type='text/css' rel='stylesheet' href='~/Content/css/carousal.css' />
}

@section customscripts{
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 6000
            })
        });
    </script>
}

<footer>

</footer>