@model List<MovieClub.Models.AdminModels.PendingPaymentsModel>

@{
    var payments = Model;
}

@if (payments.Count > 0)
{
    foreach (var item in payments)
    {
        <tr>
            <td>@item.Username</td>
            <td>@item.TotalPaymentDue</td>
            <td>
                <a href="/Admin/DetailedPayment/?userid=@item.UserId" data-reveal-id="myModalpayment" data-reveal-ajax="true">
                    View Details
                </a>
            </td>
        </tr>
    }
}
else
{
    <td colspan="3" style="padding:10px;text-align:center">No pending payments</td>
}


