@model List<MovieClub.Models.AdminModels.DetailedPaymentModel>

@{
    Layout = null;
    var user = ViewBag.PaymentUser;
    var paylist = Model;
    var finetotal = ViewBag.FineTotal;
    var chargetotal = ViewBag.ChargeTotal;
}

<div id="payment-sheet">
    <div id="payment-header">
        Outstanding payment details
        <hr />
    </div>
    <div id="payment-details" class="left">
        <table>
            <thead>
                <tr>
                    <th width="250">Movie name</th>
                    <th width="100">Charge</th>
                    <th width="100">Fine</th>
                </tr>
            </thead>
            @foreach(var item in paylist)
            {
                <tr>
                    <td>@item.MovieName</td>
                    <td>@Math.Round((double)item.Charge,2)</td>
                    <td>@Math.Round((double)item.Fine,2)</td>
                </tr>
            }
        </table>
        <table>
            <tr>
                <td width="350">Total Amount (Rs.):</td>
                <td width="100">@Math.Round((double)(finetotal+chargetotal),2)</td>
            </tr>
        </table>
        <div style="text-align:center">
            <a href="/Admin/CheckoutPayment/?userid=@user" class="button tiny">Checkout</a>
        </div>
    </div>
</div>


