@model List<MovieClub.Models.AdminModels.ManageMoviesModel>

@{
    ViewBag.Title = "Manage Movies";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="small-100 large-30 medium-50 columns left">
        <input type="text" placeholder="Type to search movie" id="search-movie-admin" />
    </div>
    <div class="small-100 large-100 medium-100 columns">
        <div id="movies-list">

        </div>
    </div>
    
</div>

@section customstyles{
    @Styles.Render("~/Content/css/admin.css")
    @Styles.Render("~/Content/css/toastr.css")
}

@section customscripts{
    @Scripts.Render("~/Content/js/toastr.js")
    @Scripts.Render("~/Content/js/AjaxAntiForgeryTokens.js")
}

@section scripts{

    <script>

        function deletemovie(movieid){
            $.ajax({
                url: "/Admin/DeleteMovie/?movieid=" + movieid,
                type: "POST",
                data: AddAntiForgeryToken({}),
                dataType: "text"
            })
            .success(function (data) {
                var obj = $.parseJSON(data);
                if (obj.result == "ok") {
                    toastr.success(obj.message)
                    $.ajax({
                        url: "/Admin/ManageMovies/?q=" + $("#search-movie-admin").val(),
                        type: "GET"
                    })
                    .success(function (data) {
                        $("#movies-list").html(data);
                    })
                    .error(function () {
                        $("#movies-list").html("Error loading movies list");
                    });
                }
                else if (obj.result == "error") {
                    toastr.error("Could not delete movie!")
                }
            })
            .error(function () {
                toastr.error("Could not delete movie! Check your connection.")
            });
        }

        $(document).ready(function () {

            $("#search-movie-admin").keyup(function (event) {
                $.ajax({
                    url: "/Admin/ManageMovies/?q=" + $("#search-movie-admin").val(),
                    type: "GET"
                })
                .success(function (data) {
                    $("#movies-list").html(data);
                })
                .error(function () {
                    $("#movies-list").html("Error loading movies list. Try refreshing the page.");
                });;
            });

            $.ajax({
                url: "/Admin/ManageMovies",
                type: "GET"
            })
            .success(function (data) {
                $("#movies-list").html(data);
            })
            .error(function () {
                $("#movies-list").html("Error loading movies list");
            });


            $(".featuredcheckbox").change(function (e) {
                
                $.ajax({
                    url: "/Admin/FeatureMovie/?",
                    type: "post",
                    data: AddAntiForgeryToken({
                        movieid: $(this).attr("data-movieid"),
                        featured: $(this).is(":checked")
                    }),
                    dataType: "text"
                })
                .success(function (data) {
                    var obj = $.parseJSON(data);
                    if (obj.result == "ok") {
                        toastr.success(obj.message);
                    }
                    else if (obj.result == "error") {
                        $(this).removeAttr("checked");
                        toastr.warning(obj.message);
                    }
                })
                .error(function () {
                    toastr.error("Error occured! Check your connection.");
                });
            });


        });
    </script>
}
