@{
    
    var sendto = ViewBag.To;
    Layout = null;
}

<fieldset>
    <legend>Send message</legend>

    <label>
        Message
        <textarea placeholder="Your message here" id="comment-text" cols="100" rows="4"></textarea>
    </label>
    <div class="right">
        <button class="button tiny" id="recommend-button">Send</button>
    </div>
</fieldset>

<script>
    $("#recommend-button").click(function (e) {
        var comment = $("#comment-text").val();
        var to = "@sendto";
        $.ajax({
            type: "POST",
            url: "/Admin/SendMessage",
            dataType: "text",
            data: {
                To: to,
                Comment: comment
            }
        })
        .success(function (data) {
            var obj = $.parseJSON(data);
            if (obj.result == "ok") {
                $('#myModal').foundation('reveal', 'close');
                toastr.success(obj.message);
            }
        })
        .error(function () {
            toastr.error("Error sending message! Check your connection.");
        });
        e.preventDefault();
    });
</script>

@section customstyles{
    @Styles.Render("~/Content/css/toastr.css")
}

@section customscripts{
    @Scripts.Render("~/Content/js/toastr.js")
}