@{
    ViewBag.Title = "MyAccount";
    var uid = ViewBag.UserId;
}

<div id="myaccount">
    <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel-favorites">My Favorites</a></dd>
        <dd><a href="#panel-watchlist">Watchlist</a></dd>
        <dd><a href="#panel-recommendations">Recommendations</a></dd>
        <dd><a href="#panel-reservations">Reservations</a></dd>
        <dd><a href="#panel-rents-pending">Pending to return</a></dd>
        <dd><a href="#panel-rents">History</a></dd>
        <dd>
            <a href="#panel-inbox" id="inbox-tab" onclick="readMessages(@uid)">Inbox Messages
                @if(ViewBag.NewMessageCount>0){
                    <span id="notif-count" class="success label tiny round">@ViewBag.NewMessageCount</span>
                }
            </a>
        </dd>
        
        <!--panel-rents-pending
            <dd><a href="#panel-activity">Activity</a></dd>
        -->
    </dl>
    <div class="tabs-content tabs-content-custom">
        <div class="content active small" id="panel-favorites">
            <table id="fav-table">
                <thead>
                    <tr>
                        <td width="300px">Movie Name</td>
                        <td width="200px">Catagories</td>
                        <td width="200px">Actors</td>
                        <td width="80px">Year</td>
                        <td width="80px">IMDb</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="content small" id="panel-watchlist">
            <table id="watchlist-table">
                <thead>
                    <tr>
                        <td width="300px">Movie Name</td>
                        <td width="200px">Catagories</td>
                        <td width="200px">Actors</td>
                        <td width="80px">Year</td>
                        <td width="80px">IMDb</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="content small" id="panel-recommendations">
            <table id="recom-table">
                <thead>
                    <tr>
                        <td width="300px">Movie Name</td>
                        <td width="200px">Recommended By</td>
                        <td width="400px">Comment</td>
                        <td width="100px">Date</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="content small" id="panel-reservations">
            <table id="reservations-table">
                <thead>
                    <tr>
                        <td width="200px">Reserved on</td>
                        <td>Movie Name</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="content small" id="panel-rents-pending">
            <table id="rents-table-pending">
                <thead>
                    <tr>
                        <td>Movie Name</td>
                        <td width="200px">Date borrowed</td>
                        <td width="200px">Due date</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="content small" id="panel-rents">
            <table id="rents-table">
                <thead>
                    <tr>
                        <td>Movie Name</td>
                        <td width="200px">Date borrowed</td>
                        <td width="200px">Date returned</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="content small" id="panel-inbox">
            <table id="inbox-table">
                <thead>
                    <tr>
                        <td width="150px">Date</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <!--
        <div class="content small" id="panel-activity">
            <table id="activity-table">
                <thead>
                    <tr>
                        <td width="200px">Date</td>
                        <td>
                            History
                            <a id="clearlog" class="right">Clear History</a>
                        </td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>            
        -->



    </div>
</div>

@section customstyles{
    @Styles.Render("~/Content/css/myaccount.css")
}

@section customscripts{
    <script src="/Content/js/jquery.tablesorter.js" type="text/javascript"></script>
}

@section scripts{
    <script>

        function readMessages(uid) {
            $.ajax({
                url: "/User/MarkMessagesRead/?uid=" + uid,
                type: "POST",
                data:AddAntiForgeryToken({}),
                dataType: "text"
            })
            .success(function (data) {

            })
            .error(function () {

            });
        }

        $(document).ready(function () {

            $.ajax({
                url: "/User/Recommendations",
                type: "GET",
            })
            .success(function (data) {
                $("#recom-table tbody").html(data);
            })
            .error(function () {
                $("#recom-table tbody").html("<p>Loading recommendations failed!</p>");
            });

            $.ajax({
                url: "/User/Favorites",
                type: "GET"
            })
            .success(function (data) {
                $("#fav-table tbody").html(data);
            })
            .error(function () {
                $("#fav-table tbody").html("<p>Loading favorites failed!</p>");
            });

            $.ajax({
                url: "/User/Watchlist",
                type: "GET"
            })
            .success(function (data) {
                $("#watchlist-table tbody").html(data);
            })
            .error(function () {
                $("#watchlist-table tbody").html("<p>Loading favorites failed!</p>");
            });

            $.ajax({
                url: "/User/Reservations",
                type: "GET"
            })
            .success(function (data) {
                $("#reservations-table tbody").html(data);
            })
            .error(function () {
                $("#reservations-table tbody").html("<p>Error loading reservations!</p>");
            });

            $.ajax({
                url: "/User/CurrentRents",
                type: "GET"
            })
            .success(function (data) {
                $("#rents-table-pending tbody").html(data);
            })
            .error(function () {
                $("#rents-table-pending tbody").html("<p>Error loading current rents!</p>");
            });

            $.ajax({
                url: "/User/RentsHistory",
                type: "GET"
            })
            .success(function (data) {
                $("#rents-table tbody").html(data);
            })
            .error(function () {
                $("#rents-table tbody").html("<p>Error loading rents history!</p>");
            });

            $.ajax({
                url: "/User/Messages",
                type: "GET"
            })
            .success(function (data) {
                $("#inbox-table tbody").html(data);
            })
            .error(function () {
                $("#inbox-table tbody").html("<p>Error loading Inbox!</p>");
            });
        });
    </script>

}
