@{
    Layout = null;
}

<form>
    <label for="suggestion-name">Movie name</label>
    <input type="text" placeholder="Movie name" id="suggestion-name" />

    <label for="suggestion-info">Additional information</label>
    <textarea placeholder="Additional information that helps to uniquely identify the movie (Ex: IMDb ID/URL, Other URL, Year etc.)" id="suggestion-info" rows="4"></textarea>
    <div style="text-align:center">
        <button id="suggest-button" class="button tiny">Suggest</button>
    </div>
</form>

<script src="~/Content/js/adminfunctions.js"></script>
<script src="~/Content/js/AjaxAntiForgeryTokens.js"></script>
<script src="~/Content/js/suggestmovie.js"></script>